<form method="post" action="/materiaux/{{materiaux.materiauxid}}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiaux.materiauxId) }}">
    <button class="btn">Supprimer le materiaux</button>
</form>
