<form method="post" action="/materiaux/{{materiaux.materiauxid}}" onsubmit="return confirm('etes vous sur de vouloir suppromé ce matériaux');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiaux.materiauxId) }}">
    <button class="botnform">Supprimer le materiaux</button>
</form>
