{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Materiaux{% endblock %}

{% block body %}
    <h1>Créé un nouveau Materiaux à donner</h1>

    {{ include('materiaux/_form.html.twig') }}

    <a href="{{ path('materiaux_index') }}" class="botnform" >Retour à la liste des matériaux</a>
{% endblock %}
