* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sansita, Calibri;
}

body{
background-color: #656662;  
background-image: url("../images/architecture-1857175__480.jpg");
height: 90%;
background-size: cover;
}

.gris{
    background-color:rgba(192, 193, 194,0.9);
}

.grille{
    display: grid;
}

/* css Header */

#logo{
    width: 100%; 
    background-color:transparent;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: 'logo nav nav' ;
    
    padding: 15px;
}
#logo img {
    margin-left: 130px;
   width: 90%;
   grid-area: logo;
   align-self: center;
}
 nav{
     grid-area: nav; 
     align-items: center;
     align-self: center;
     
 }
nav ul{
    
    display: grid;
    width: 95%;
    margin: auto;
    padding: 5px;
    list-style-type: none; 
    grid-template-rows: auto;  
    grid-template-columns: repeat(7,1fr) ;
    grid-template-areas: ". realisation service a_propos contact materiaux connexion" ;
    column-gap: 15px;
}

li a:hover{
    background-color: rgba(192, 193, 194,0.8);
    text-decoration: underline; 
    color: black;  
    box-shadow: 0 -2px 7px black;
    border-radius: 15px;
}
   
li a:active {
    color: black;
    transform: translate(5px, 3px);
}

nav li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #7fbc43;
    
    border-radius: 66px;
    padding: 5px 10px 5px 10px;
  
}

#realisation{
    grid-area: realisation;
    
    
}

#service{
    grid-area: service;
}

#a_propos{
    grid-area: a_propos;
}

#contact{
    grid-area: contact;
}

#mat{
    grid-area: materiaux;
}
#connexion{
    grid-area: connexion;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

/* css page login*/

.pagelogin{
    grid-template-rows:auto;
    
}
#loginform{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto;
    grid-template-areas: 'gauche centre droite';
    align-items: center;
    margin-top: 40px;
    margin-bottom: 250px;
}


#infologin{

    grid-area: centre;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5,auto);
    grid-template-areas: 'a a a a'
                         ' e f f h'
                         'i i j j '
                         'm m o o '
                         'q s s t ';
    align-items: center;
    text-align: center;
   
    

}
#connecter{
    grid-area: a;
    margin:20px;
}
#h1connexion{
    grid-area: f;
    margin:20px;
    font-size: 34px;
}
#lbluserconnexion{
    grid-area: i;
   
}
#inputUsername{
    grid-area: j;
    margin-right:20px;
    width: 400px;
    text-align: center;
}
#lblpasswordconnexion{
    grid-area: m;
  
}
#inputPassword{
    grid-area: o;
    margin-top:20px;
    margin-right:20px;
    width: 400px;
    text-align: center;
}
#imagelogin{
grid-area: gauche;

}
#btnconnexion{
    grid-area: s;
    margin:20px;
    height: 30px;
     width: 200px;
    text-align: center;
}

#logoconnexion{
    width: 500px;
    height: 350px;
   
}



/* css page register*/

#register{
    grid-template-rows:auto;
    
}
#contenant{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto;
    grid-template-areas: 'g d';
   align-items: center;
    margin-top: 40px;
    padding: 20px;
}



#imageregister{
 grid-area: g;
 width: 500px;
height: 350px;
}

#registerform{
    grid-area: d;
    text-align: center;
    align-items: center;
    margin-right: 30px;
}

#registerh1{
    grid-area: a;
  
}

label[for = "registration_form_username"]{
    grid-area: i;
    margin:20px;
    
}
#registration_form_username{
    
    margin:20px;
    text-align: center;
}

label[for = "registration_form_plainPassword"]{
    
    margin:20px;
   
}
#registration_form_plainPassword{
    
    margin:20px;
    text-align: center;
}
label[for = "registration_form_agreeTerms"]{
 
    margin:20px;
   
}


#btnsinscrire {
    grid-area: s;
    margin:20px;
    height: 30px;
    background: rgba(191, 116, 128, 0.2);
    border:     #BF7480;
    width: 300px;
}








/* css page nous contacter*/

.formgroup{
    display: flexbox;
   align-items: baseline;
   }
   .captcha {
       font-family: "Comic Sans MS", cursive, sans-serif;
       font-style: italic;
       font-weight: bold;
       font-size: 2em;
       padding: 3px;
       border-radius: 5px;
       text-decoration: line-through;
       color: black;
       background-color:rgba(192, 193, 194,0.8);
     }
     
     .restart a {
       text-decoration: none;
     }
     
     .errmsg {
       color: black;
       padding: 5px;
       transition: 0.5s ease;
     }
     .container {
     
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       align-self: center;
     }
   
   #reCaptcha{
       text-align: center;
   }
   
   .containercontact{
       
       margin-top: 30px;
       margin-bottom: 15px;
       text-align: center;
   }
   .nouscontacterinfo{
       grid-template-rows: repeat(5,auto);
       grid-template-columns: repeat(2,1fr);
       grid-template-areas: 'a f '
                            'b f'
                            'd z'
                            'c e'
                            'c e';
       padding: 15px;
       
   }
   
   #formcontact{
       border: groove;
       
       padding: 20px;
       margin-top: 10px;
       font-size: 20px;
       font:bold;
       
   }
   #textecontact{
       font-size: 35px;
       text-align: center;
       
       color: rgb(43, 38, 38);
       
   }
   #Contact{
       background-color:rgba(192, 193, 194,.7);
   }
   #formcontact label{
       padding-right: 25px;
       font-style: italic;
       font-size: 35px;
       
   }
   
   #formcontact input {
      float: right;
       
   }
   #formcontact #contactligne3 label {
       
        align-self: center;
        
    }
    #formcontact #contactligne3 input {
       
        align-self: center;
        width: 400px; 
        height: 135px; 
           margin-top: 50px;
    }
   
   #contact_email{
       width: 300px; 
      height: 30px;
   }
   #contact_nom{
       width: 300px; 
       height: 30px;
   }
   #contact_tel{
       height: 30px;
       width: 300px;
   }
   #contactligne1{
       grid-area: a;
       text-align: left;
      
   }
   #contactligne2{
       grid-area: b;
       text-align: left;
       
   }
   #contactligne3{
        
       grid-area: c;
       align-items:center;
       
       
   }
   
  
   #contactligne4{
       visibility: hidden;
       grid-area: e;
       
       
   }
   #contactligne5{
        
       grid-area: d;
       text-align: left;
   }
   #contactligne4 input{
       width: 300px;
       margin-top: 30px;
       background: rgba(80, 98, 104, 0.8);
       border:     #525050;
       float: none;
   }
   #verification{
       margin-top: 15px;
       grid-area: f;
   }
   #je_ne{
       margin-top: 15px;
   }

/*                   css page services                    */



#infoService{
    display: grid;
    animation-name: anim;
    animation-duration: 3s;
    background-color:rgba(192, 193, 194,0.8);
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'a a '
                         'c d';                      
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}   
#infoService ul{
    list-style-type: none;
}
.service{
      grid-area: a;  
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

#service2{
    margin-top: 30px;
    grid-area: d; 
    padding: 25px;
    font-size: 35px;
   text-align: center;
   align-items: center;
}
#service1{
    margin-top: 30px;
    grid-area: c; 
    padding: 25px;
    font-size: 35px;
   text-align: center;
   align-items: center;
}

   /* css Matériaux          */


#admin{
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 'a a a'
                         'c c c'
                         'd d d';   
    text-align: center;
 
    font-size: 30px;
    background-color:rgba(192, 193, 194,0.8);
}
#admin h1{
    grid-area: a;
}
.table{
    margin-top: 20px;
    border-collapse: collapse;
   border: 1px solid black;
   grid-area: c;
   
}
th,td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#admin a{
    grid-area: d;
}


/** Visualisation du produit côté utilisateur **/

.flex {
    display: flex;
    flex-direction: start;
    margin-bottom: 30px;
}

div#galerie {
  width: 40% ;
  height: 90%;
  background: rgba(191, 116, 128, 0.08);
  border: 1px solid #BF7480, 8% ;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
}

#big_pict {
    max-width: 50%;
    min-width: 25%;
}

ul#galerie_mini {
  margin: 1% ;
  padding: 1% ;
  list-style-type: none ;
}

.mini_pict {
    max-width: 20%;
    min-width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

ul#galerie_mini li {
  display: inline;
}

ul#galerie_mini li a img {
  margin: 1% ;
  border: 1px solid #BF7480, 8% ;
}

dl#photo {
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt {
  color: #BF7480, 8% ;
}

dl#photo dd {
  margin: 0 ;
}

dl#photo img {
  border: 1px solid #BF7480, 8% ;
}

#product_title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 5%;
}

#product_descript {
    display: block;
    text-align: justify;
    font-size: 25px;
    margin: auto;
    margin-bottom: 5%;
    width: 60%;
}

.heigth2{
    width: 60%;
}
.text {
    margin-top: 30px;
    height: 52%;
}

.center{
   text-align: center;
}

.tableau {
    height: 48%;
    width: 30%;
    margin: auto;
    text-align: center;
}

.centervert{
   padding-top: 1%;
}

#productPrice{
    margin: 5% auto;
}

#quantite{
    text-align: center;
}



/** page À popos **/

#propos {
    display: flex;
    
    width: 100%;
    margin-bottom: 40px;
    
}
#cont{
    margin-top: 50px;
    margin-bottom: 170px;
}
#pictcreator {
    width: 90%;
    box-shadow: 25px 25px 5px rgba(191, 116, 128, 0.15);
}
@keyframes anim{
    from {
      opacity: 0%;
      left: 0;
      transform: translateX(-15px)
    }
    to {
      opacity: 100%;
    }
  }
#creator {
    animation-name: anim;
    animation-duration: 3s;
    text-align: justify;
    background-color:rgba(192, 193, 194, 0.8);
    border-radius: 5px;
    font-size: 28px;
    
    padding: 5px;
}

#creatorname {
    display: block;
    text-align: center;
    padding-bottom: 30px;

}

/* CSS produits */
.produitIndividuel .img{
    padding: 5px;
    margin-bottom: 5px;
   
}
.h1prduit{
    text-align: center;
    font-size: 45px;
}

.containerProduit{
    display: flex;
    width: 100%;
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;    
}

.produitIndividuel{
    display: block;
    width: 20%;
    margin: 25px;
    background-color:rgba(192, 193, 194,0.9);
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
    

}

.lien{
    text-decoration: none;
    color: rgb(53, 5, 46);
}

.nomProduit{
    font-size: 25px;
    font-weight: bold;
}







/* Formulaire ajout et edit */

.h1 , .h2  {
    text-align: center;
    
    background-color:rgba(192, 193, 194,0.9);
}


.formProduit {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto;
    grid-template-areas: 'fA fI';
}

.formAttribut {
    width: 90%;
    margin-left: auto;
    grid-area: fA;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 'nomProduit'
                         'description'
                         'inventaire';
   margin-right:45px ;
}
 .formProduit input {
    float: right;

}
.formProduit label{
    float : left;
    font-weight: normal;
    padding:5px;
    
}
#materiaux_description{
    width: 400px; 
    float: right;
    align-items: flex-start;
    margin-bottom: 20px;
     
  }
  #materiaux_quantite{
      width: 400px; 
     height: 40px;
  }
  #materiaux_nom,#projet_titre{
      width: 400px; 
      height: 40px;
  }
.nomProduit{
    grid-area: nomProduit;
    font-size: 32px;
   
}
#projet_description{
   float: right;
   width: 400px; 
}

.description{
    grid-area: description;
    font-size: 32px;
    text-align: left;
}

.formProduit .image{
    font-size: 24px;
    background-color:rgba(192, 193, 194,0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.inventaire{
    grid-area: inventaire;
    font-size: 32px;
    text-align: left;
}



.formImage {
    width: 90%;
    margin-right:auto ;
    align-items: center;
    grid-area: fI;
}

.formulaire{
    text-align: center;
}

.botnform{    
    background-color:rgba(192, 193, 194,0.8);
    border:   2px solid  #383737;
    border-radius: 5px;
    width:10%;
    height: 10%;
    display: block;
    margin: 1% auto;
    text-decoration: none;  
    color: black;
    font-size: 15px;
    text-align: center;
}

.botnhov:hover{
    color:black;
}

.block{
    display: block;
    width: 10%;
    margin-left: 45%;
    border-radius: 5px;
    background-color:rgba(192, 193, 194,0.8);
    text-align: center;
    text-decoration: none;
    font-size: 16px;  

}

.imageProduit{
    display: flex;
    width: 100%;
}

.imageIndividuelle{
    display: block;
    width: 25%;
    text-align: center;
}

.visible{
    visibility:visible
}

#suppImg{
    visibility: hidden;
}


#demo{
    align-items: center;
    text-align: center;
}

#projet_descript{
    font-size: 30px;
    text-align: justify;
}

.this{
   
    text-align: center;
    width: 100%;
}
.sizeIcon{
    font-size: 48px;
    color: black;
}
.h1show{
    text-align: center;

}

/*               css du footer   */

.foot{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid ;
    font-size: 20px;
    background-color:rgba(192, 193, 194,0.9);
   
   grid-template-rows:auto;
    grid-template-columns: repeat(9,1fr) ;
    grid-template-areas: 'a b c d e f g h i'
                                        ;
     text-align: center;                    
      align-items: center;                   
    

    
}
footer div:first-of-type{
    grid-area: a;
    text-align: right;

}

footer div:nth-of-type(2){
    grid-area: c;
    text-align: right;

}
footer div:nth-of-type(3){
    grid-area: e;
    text-align: right;
}
footer div:nth-of-type(4){
    grid-area: g;
    text-align: right;
}
footer p:first-of-type{
    grid-area: b;

}

footer p:nth-of-type(2){
    grid-area: d;
   

}
footer p:nth-of-type(3){
    grid-area: f;
 
}
footer p:nth-of-type(4){
    grid-area: h;
 
}
