{% extends 'base.html.twig' %}

{% block title %}Nos réalisation{% endblock %}

{% block body %}
<div class="height"> 
    <h1 class="h1prduit gris">Nos réalisations en images</h1>
    
        <section class="produitAffiche">

            
        <div class="containerProduit"> 
            
            {% for projet in projets %}
                <div class="produitIndividuel">
                <a class="lien" href="/projet/{{projet.id}}" >
                <p class="nomProduit">{{ projet.titre }}</p></a>
                {% for image in projet.image|slice(0,1 ) %}
                 
                    <a href="/projet/{{projet.id}}" >
                    <img class="img" src="{{ asset('images/images_produit/'~image.nom) }}" title="cliqué pour plus d'info" alt= "no" width="50%" >
                    </a>

                
                    {% else %}
                        <p>Pas d'image</p>
                
                {% endfor %}  
                    
                 </div>        
                {% else %}
               
                        <p colspan="8">Aucun projet à afficher </p>
                {% endfor %}        
            
        </div>
        </section>
</div>          

    
{% endblock %}